<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Cooper Hewitt Interpol 1</string>
	<key>styleName</key>
	<string>Book</string>
	<key>copyright</key>
	<string>Copyright (c) 2014, Cooper Hewitt Smithsonian Design Museum (cooperhewitt.org)</string>
	<key>trademark</key>
	<string>Cooper Hewitt is a trademark of Cooper Hewitt Smithsonian Design Museum.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>530</integer>
	<key>capHeight</key>
	<integer>780</integer>
	<key>ascender</key>
	<integer>750</integer>
	<key>descender</key>
	<integer>-250</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2016/06/24 14:56:48</string>
	<key>openTypeHheaAscender</key>
	<integer>750</integer>
	<key>openTypeHheaDescender</key>
	<integer>-250</integer>
	<key>openTypeHheaLineGap</key>
	<integer>300</integer>
	<key>openTypeNameDesigner</key>
	<string>Village Type and Design LLC</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://vllg.com/</string>
	<key>openTypeNameManufacturer</key>
	<string>Cooper Hewitt Smithsonian Design Museum</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://cooperhewitt.org/</string>
	<key>openTypeNameLicense</key>
	<string>See accompanying Open Font License text file</string>
	<key>openTypeNameVersion</key>
	<string>1.000</string>
	<key>openTypeNameUniqueID</key>
	<string>1.000;VLLG;2014;CooperHewitt-Book</string>
	<key>openTypeNameDescription</key>
	<string>Copyright (c) 2014, Cooper Hewitt Smithsonian Design Museum (cooperhewitt.org).</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>705</integer>
	<key>openTypeOS2VendorID</key>
	<string>VLLG</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>750</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-250</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>300</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1000</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>300</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>140</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>477</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>250</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>34</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>50</integer>
		<integer>63</integer>
		<integer>65</integer>
		<integer>68</integer>
	</array>
	<key>postscriptFontName</key>
	<string>CooperHewittInterpol1-Book</string>
	<key>postscriptFullName</key>
	<string>CooperHewittInterpol1-Book</string>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>-75</integer>
    </dict>
</plist>
