<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>Q</key>
	<dict>
	    <key>X</key>
	    <integer>-17</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>x</key>
	    <integer>-34</integer>
	    <key>v</key>
	    <integer>-34</integer>
	    <key>q</key>
	    <integer>-50</integer>
	    <key>oe</key>
	    <integer>-50</integer>
	    <key>ae</key>
	    <integer>-54</integer>
	</dict>
	<key>X</key>
	<dict>
	    <key>x</key>
	    <integer>-24</integer>
	    <key>v</key>
	    <integer>-48</integer>
	    <key>q</key>
	    <integer>-24</integer>
	    <key>oe</key>
	    <integer>-24</integer>
	    <key>ae</key>
	    <integer>-24</integer>
	    <key>Q</key>
	    <integer>-20</integer>
	</dict>
	<key>germandbls</key>
	<dict>
	    <key>v</key>
	    <integer>-12</integer>
	</dict>
	<key>space</key>
	<dict>
	    <key>v</key>
	    <integer>-12</integer>
	    <key>V</key>
	    <integer>-17</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>q</key>
	    <integer>-12</integer>
	    <key>germandbls</key>
	    <integer>-12</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>q</key>
	    <integer>-17</integer>
	</dict>
    </dict>
</plist>
